html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  text-align: center;
  min-height:100%;
  position:relative;
}

.content {
  padding: 10px;
  padding-bottom: 60px;
  background: #eeeeee;
  min-height:100%;
  position:relative;
}
